Res/base.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="file://base.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="versionType">
		<xs:sequence>
			<xs:element type="xs:string" name="version"/>
			<xs:element type="xs:string" name="doUpdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="realmType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="itemTypeType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="objectTypeType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="classType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="id"/>
	</xs:complexType>
	<xs:complexType name="handType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="damageTypeType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="bonus_categoryType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bonusType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="category" use="optional"/>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="effectType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="colorType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="extensionType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="genderType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="bodyTypeType">
		<xs:sequence>
			<xs:element type="xs:string" name="name"/>
		</xs:sequence>
		<xs:attribute type="xs:int" name="id"/>
	</xs:complexType>
	<xs:complexType name="BaseXMLDataType" xmlns="file://base.xsd">
		<xs:sequence>
			<xs:element type="versionType" name="version"/>
			<xs:element type="realmType" name="realm" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section Realms</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="itemTypeType" name="itemType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section ItemTypes (Slots)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="objectTypeType" name="objectType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section objectTypes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="classType" name="class" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section Classes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="handType" name="hand" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section hands</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="damageTypeType" name="damageType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section damageTypes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="bonus_categoryType" name="bonus_category" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>section bonus categories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="bonusType" name="bonus" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[section boni 
	<bonus category="resists caps" id="900">
		<name>Bonus to Cold resists cap</name>
	</bonus>
	<bonus category="resists caps" id="901">
		<name>Bonus to Crush resists cap</name>
	</bonus>]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="effectType" name="effect" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section Visible Effects</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="colorType" name="color" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section colors</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="extensionType" name="extension" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>section extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="genderType" name="gender" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Genders</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="bodyTypeType" name="bodyType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Body types</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BaseXMLData" type="BaseXMLDataType" xmlns="file://base.xsd"/>
</xs:schema>
